
body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}
.container{
  width: 65%;
}
.navbar{
  border: solid 1px rgb(218, 218, 216);
  background-color: white;
  max-height: 66px;
}
.add-post-icon{
  font-size: 25px;
}
.nav-item{
  text-decoration: none;
  color: black;
}
.navbar-button{
  margin-left: 20px;
}
.search-results-container{
  text-align: left;
  max-height: 67px;
  position: absolute;
  top: 113%;
  overflow: scroll;
  width: 15%;
}
.search-result{
  width: 97%;
  background-color: white;
  border-bottom: solid .5px rgb(218, 218, 216);
  padding-top: 14px;


}
.search-result-picture{
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
}

.navbar-search-bar{
  border-radius: 20px;
  width: 25vw;
}
/*############ PROFILE PAGE ############### */

/* Profile Top Info Section */
.profile-page-top-container{
  padding-top: 5%;
  padding-bottom: 3%;
}

.profile-picture-container{
  /* width: 30%; */
  padding-top: 3%;

}

.profile-picture{
  float: none;
  margin: 0 auto;
  width: 14vw;
  height: 14vw;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;

}
.profile-info-container{
  /* width: 65%; */
  padding-left: 5%;
  padding-top: 3%;
}
.profile-username{
  font-size: 3vw;
  margin-bottom: .25rem;
}
.edit-profile-button{
  padding: .7vw .7vw;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
  margin-top: 1vw;

}
.profile-info-margin{
  margin-right: 15px;
}
.profile-info-text{
  font-size: 1.75vw;
  margin-bottom: .4rem;
}

/*Profile Photo Feed  */

.feed-top-bar{
  text-align: center;
  border-top: .1px solid grey;
  margin-left: .1%;
}
.top-bar-item{
  margin:auto;
}
.top-bar-item-active{
  margin:auto;
  border-bottom: solid 1px #133e5b;
}
.feed{
  padding-left: -5px;
}

.App {
  text-align: center;
}
.small-feed-photo{
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  overflow-y: hidden;
  height: 20vw;
  width: 20vw;

}
.feed-image-container{
  padding-left: 1vw;
  padding-right:1vw;

}
/*######## Image Upload Page #######  */
.image-upload-container{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 30px;
  background-color: white;
  width: 48vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  border-radius: 10px;
  border: solid 1px rgb(218, 218, 216);

}
.image-upload-button{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-upload{
  height: 45vw;
  width: 45vw;
}
.upload-image-button{
  margin-top: 17px;

}
.next-button{
}
.caption-input {
  width: 90%;
  margin: auto;
  margin-top: 26px;
  }
/* ######## Image Show Page ############## */
.post-card{
  margin-top: 30px;
  background-color: white;
  padding: 0px;
  width: 50vw;
  border-radius: 10px;
  border: .4px solid grey;
}
.post-show-image{
  width: 50vw;
  height: 40vw;
}
.post-top-bar{
  width: 50vw;
  margin: auto;
  padding-top: 1vw;
  border-radius: 5px 5px 0px 0px;
  padding-left: 1.5vw;
  margin-top: 7px;
}
.post-profile-photo{
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
}
.post-user-name{
  margin-right: 10px;
}
.post-bottom-bar{
  width: 50vw;
  margin: auto;
  padding-top: 1vw;
  padding-left: 3vw;
}

.comment-well{
  font-size:15px;
  width: 50vw;
  margin: auto;
  padding-left: 3vw;
}
.post-bottom-bar{

}
.comments{
  border-bottom: solid 1px rgb(218, 218, 216);
}
.comment{
  margin-bottom: .3rem;
  text-align: left;
  padding-left: 0px;
}
.comment-form{
  margin-top: 7px;
  width: 95%;
  margin-left: -1.2vw;
  margin-top: 10px;
}
.comment-input{
  width:95%;
  border-radius:6px;
  margin-bottom: 15px;
  border:none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.like-button-before-like{
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.like-button-before-like:hover{
  color:red;
}
.after-bookmark{
  color:#133e5b;
  font-size: 22px;
}
.before-bookmark{
  color: black;
  font-size: 22px;
}
.before-bookmark:hover{
  color:#133e5b;
}
.like-button-after-like{
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
  color:red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
