html{
  height: 100%;
}
body{

 height: 100%;

}


.welcome-page-container{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

 /* Set a specific height */

 /* Position and center the image to scale nicely on all screens */

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1508657794088-375f2f60c581?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4dfe68984607470ef65bbd674bd157a1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  position: relative;
  position: absolute;
  background-color: grey;
  height: 120%;
  width: 100%;
  left:0%;
  top: 0%;
  color: white;
}

.create-user-form-container{
  width: 40%;
  margin: auto;
}

.btn-primary{
  background-color: #133e5b;
  border: solid #133e5b .2px;
}
.btn-outline-secondary{
  color: #133e5b;
  border-color: #133e5b;
}
.btn-outline-secondary:hover{
  background-color: #133e5b;
  color:white;
}

.welcome-page-header{
  margin-top: 120px;
  font-size: 45px;
}
.welcome-page-subcontent{
  margin-top: 7vw;
}

.welcome-text{
  margin-bottom: 30px;
  margin-top: 30px;
}
.profile-upload-button{
  margin-top: 30px;
}

.profile-picture-upload{
  height: 150px;
  width: 150px;
}
.form-label{
  float: left;
}

.create-user-form-top-margin{
}
.login-button{
  float: left;
}
.login-form-container{
  width: 35%;
  margin: auto;
  margin-top: 120px;

}
